.nav-content {
  display: flex;
}

.nav-link {
  display: block;
  width: 20%;
}

body {
  background-image: url("/assets/images/nmsfly.jpg");
  background-size: cover;
  position: static;
}

  body {
  color: black;
  }

section {
  position: static;
}
