.nav-content {
  display: flex;
}

.nav-links {
  display: blcok;
  width: 20%;
}

.page-header {
  background-image: url("/assets/images/DSC_0231.jpg");
  background-size: cover;
}

  body {
  color: black;
  }
